Repository KonradIT/mmt, pull requests merged in 2022-12, with the labels that each got.

#37 times.BirthDate does not function on linux
  pkg/gopro/gopro.go
Labels: cam-gopro, needs-testing

#50 Add Location sort to GoPro, Android and DJI
  .github/workflows/test.yaml
  .gitignore
  README.md
  cmd/import.go
  cmd/root.go
  go.mod
  go.sum
  pkg/android/android.go
  pkg/android/location.go
  pkg/dji/dji.go
  pkg/dji/location.go
  pkg/dji/location_test.go
  pkg/dji/structs.go
  pkg/gopro/connect.go
  pkg/gopro/gopro.go
  pkg/gopro/location.go
  pkg/gopro/location_test.go
  pkg/gopro/structs.go
  pkg/insta360/insta360.go
  pkg/utils/cameras.go
  pkg/utils/cameras_test.go
  pkg/utils/ffprobe.go
  pkg/utils/ordering.go
  pkg/utils/photo_location.go
  pkg/utils/reversegeo.go
  pkg/videomanipulation/ffmpeg.go
Labels: enhancement, cam-gopro, cam-dji

#61 Concurrent import: FS: Insta360, DJI, GoPro, Android
  cmd/import.go
  go.mod
  go.sum
  pkg/android/android.go
  pkg/dji/dji.go
  pkg/dji/filetypes.go
  pkg/gopro/connect.go
  pkg/gopro/filetypes.go
  pkg/gopro/gopro.go
  pkg/gopro/structs.go
  pkg/gopro/update.go
  pkg/insta360/filetypes.go
  pkg/insta360/insta360.go
  pkg/utils/cameras.go
  pkg/utils/cameras_test.go
  pkg/utils/ordering.go
Labels: cam-gopro, cam-insta360, cam-dji
